:host {
  .employee {
    background: #ffffff;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 25px 5px;
      .add-new {
        align-items: center;
        display: flex;
        background-color: #8dc63f !important;
        color: #ffffff;
        font-weight: bold;
        letter-spacing: 0.8px;
      }
      .filter-wrapper {
        display: flex;
        align-items: center;
        label {
          margin-right: 3px;
          margin-bottom: 0px;
        }
      }
    }

    &-table-wrapper {
      .mat-column-actions {
        flex: 0 0 100px;
        min-width: 100px;
      }
      .action-button {
        cursor: pointer;
        width: 35px;
        text-align: center;
      }
      .mat-column-avatar {
        flex: 0 0 100px;
        min-width: 100px;
      }
      .employee-avatar {
        width: 40px;
        min-width: 40px;
        height: 40px;
        margin: 0 8px 0 0;
        border-radius: 50%;
        text-align: center;
        color: #fff;
      }
    }
  }
}