@import '~ng2-file-input/ng2-file-input.css';
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './theme.css';

body {
  font-family: 'Poppins', sans-serif;
  background: #e5e5e5;
  height: 100%;
  color: #31404b;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #31404b;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}


.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i, span {
  display: inline-block;
}

input.date-picker {
  max-width: 200px;
  padding-right: 40px;
  font-size: 1.2em;
  text-align: center;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
  border-radius: 50px !important;
  border-color: rgb(54, 163, 247);
}

button.date-picker-btn {
  margin-left: -32px;
  z-index: 999;
  height: 34px;
  width: 32px;
  padding-left: 6px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: rgb(54, 163, 247);
  color: white;
}

button.date-picker-btn:hover, button.date-picker-btn:focus, button.date-picker-btn:active {
  outline: none !important;
  color: white;
}

button.ngb-dp-arrow-btn:focus {
  outline: none !important;
}

div.ngb-dp-week > div.ngb-dp-day > div.bg-primary {
  background-color: #337ab7 !important;
}

.button-form{
  background-color: #25AAE1;
  color: white;
}

.button-form:hover{
  background-color: #1A6B84;
}

ngb-timepicker .ngb-tp input {
  box-shadow: none !important;
  padding: 4px;
}

ngb-timepicker .ngb-tp .btn {
  font-size: 8px;
  font-weight: normal;
}


.mat-column-actions {
  min-width: 140px;
}

.mat-icon-button.map,
.mat-icon-button.view,
.mat-icon-button.edit,
.mat-icon-button.delete
{
  width: 30px !important;
  line-height: 30px !important;
  height: 30px !important;
  color: #31404b;
}

.mat-icon-button.map .mat-icon, .mat-icon-button.map  i ,
.mat-icon-button.view .mat-icon, .mat-icon-button.map  i ,
.mat-icon-button.edit .mat-icon, .mat-icon-button.map  i ,
.mat-icon-button.delete .mat-icon, .mat-icon-button.map  i 
{
  font-size: 20px;
}



.mat-card {
  border-radius: 0 !important;
  color: #31404b !important;
}

.mat-cell {
  color: #31404b !important;
}

.mat-sort-header-button {
  color: #00A8E6 !important;
  outline: none !important;
}


.mat-checkbox-layout .mat-checkbox-label {
  font-weight: normal;
}

.mat-card-header-text {
  width: 100%;
}